* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
}
.container {
  max-width: 600px;
  margin: 0 auto;
}
h3 {
  font-weight: bold;
  font-style: italic;
}
.answers {
  line-height: 1.5;
  margin: 0 0 20px;
  padding: 5px;
}
.js-selectable:hover {
  cursor: pointer;
}
.js-selectable:hover, .js-clicked {
  background-color: lightblue;
  border: 1px solid darkgrey;
  border-radius: 8px;
}
#correct {
  color: green;
}
#incorrect {
  color: red;
}
.next-button {
   position: relative;;
   left: 200px;
}
